{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon Link -->
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>

    <!-- Materialize Link -->
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}">

    <!-- Material Icons Link -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>{% if title %}{{ title }}{% else %}TODO{% endif %}</title>
</head>
<body>

    <!-- START: Modal Structure For Adding Tasks -->
    <div id="add-task" class="modal py-1 px-2">
        <div class="modal-content">
            <h4>Add New Task</h4>
            <div class="divider mx-1 mb-2"></div>
            <div class="input-field">
                <input id="add-task-text" type="text" class="validate">
                <label for="add-task-text">Add Task</label>
            </div>
        </div>  
        <div class="divider mx-2"></div>
        <div class="modal-footer">
            <a class="btn waves-effect waves-light blue d-block" onclick="addTask()">Add</a>
        </div>
    </div>
    <!-- END: Modal Structure For Adding Tasks -->

    <!-- START: Navbar -->
    <nav>
        <div class="nav-wrapper">
            <a href="{% url 'index' %}" class="brand-logo center">TODO</a>
        </div>
    </nav>
    <!-- END: Navbar -->

    <!-- START: Main Content -->
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
    <!-- END: Main Content -->

    <!-- START: Floating Action Button -->
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large modal-trigger" href="#add-task">
            <i class="large material-icons">add</i>
        </a>
    </div>
    <!-- END: Floating Action Button -->

    <!-- START: Footer -->
    <!-- END: Footer -->


    <script src="{% static 'js/materialize/bin/materialize.min.js' %}"></script>
    <script src="{% static 'js/js.cookie.min.js' %}"></script>
    <script src="{% static 'js/task.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>

    {% csrf_token %}
</body>
</html>